<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.hiyorin.clashservice.mapper.ClashMapper">
    <resultMap id="ClashUserMap" type="top.hiyorin.clashservice.model.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="base64" property="base64"/>
        <result column="expires" property="expires"/>
        <result column="type" property="type"/>
        <result column="group" property="group"/>
    </resultMap>

    <resultMap id="ClashNodeMap" type="top.hiyorin.clashservice.model.Node">
        <id column="id" property="id"/>
        <result column="cache" property="cache"/>
        <result column="uuid" property="uuid"/>
    </resultMap>

    <select id="selectUser" resultMap="ClashUserMap">
        select * from user_subscription where base64=#{base64}
    </select>

    <select id="selectNode" resultMap="ClashNodeMap">
        select * from node_information where id=#{id}
    </select>

    <select id="getSubscribeUrl" resultType="java.lang.String">
        select subscribe_url from node_information where id=#{id}
    </select>

    <update id="updateCache">
        update node_information set cache=#{cache} where id=#{id}
    </update>
</mapper>
